  /* Define color scheme reusable variables, and images */
:root{
  --bordercolor: #007BFF;
  --ctabuttoncolor: red; 
  --backgroundcolor: black;
  --fontcolor: white;
  --cardsborder: double;
  --cardscolor: #141414;
  --bannertopimage:url('images/bannertop.jpg');
  --bannerbottomimage:url('images/bannerbottom.jpg');
  /* Change the bootstrap accordion-buttons color*/
  --bs-border-color: #424242;
  --bs-body-bg:#141414;
}

/* General body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--backgroundcolor);
  color: var(--fontcolor);
}

/* Basic heading styles */
h1, h2 {
  font-weight: bold;
}

/* Logo customization in header */
header .logo {
  font-size: 1.8rem;
}

/* Section margins */
section {
  margin-bottom: 60px;
}


footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Blockquote styling */
blockquote {
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blockquote-footer {
  font-size: 1rem;
  margin-top: 10px;
}

/*Line*/


/* Card styles */
.card, .price-card {
  position: relative;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 5%;
}
.card{
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 5px var(--cardsborder) var(--bordercolor);
  min-height: 400px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.price-card{
  border: 1px var(--cardsborder) var(--bordercolor);
}

.card-img-top {
  width: calc(100% - 20%);
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5%;
  border:5px var(--cardsborder) var(--bordercolor);
  object-fit: cover;
}
.card-body {
  padding-left: 10%;
  padding-right: 10%;
  flex-grow: 1; 
  justify-content: space-between;
}
.card-title, .card-text {
  margin-bottom: 10px;
  text-align: start;
}

.card-title, .bonus-card-title, .price-card-title{
  font-weight: bold;
}
.bonus-card-title, .bonus-card-text {
  margin-bottom: 10px;
  text-align: center;
}
.price-card-title {
  font-size: 1.2rem;
}

.price-card-text {
  font-size: 1rem;
}


#banner-top, #banner-bottom{
  position: relative;
  height: 600px;
  background-size: cover;
  color: var(--fontcolor);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
#banner-top{
  background-image:var(--bannertopimage);
  background-position: left center;
  padding-left: 50%;
}

.banner-content-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 20px;
}

.banner-text {
  font-size: 2rem;
  font-weight: bold;
  max-width: 50%;
  text-align: left;
}
#banner-top .cta-button{
  width: 100%;
}

.cta-button {
  width: 50%;
  font-size: 1.2rem;
  padding: 12px 25px;
  background-color: var(--ctabuttoncolor);
  border: none;
  color: var(--fontcolor);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.cta-button-container {
  display: flex; 
  justify-content: center; 
  margin-top: 20px;
}

.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.397);
  transition: none;
  z-index: 1;
  transform: rotate(135deg);
}

.cta-button:hover {
  background-color: #e60000;
  transform: scale(1.05);
}

.cta-button:hover::before {
  animation: shine 1.5s forwards;
}

@keyframes shine {
  0% {
    left: -100%;
    top: -100%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}

.cta-button-text {
  z-index: 2;
}


.features-box,.features-box ul li{
  border: 2px var(--cardsborder) var(--bordercolor);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-inline: 10%;
  padding-block: 1%;
}
.features-box h3 {
  color: var(--bordercolor);
  margin-bottom: 15px;
}
.features-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.features-box ul li {
  font-size: 25px;
  margin-top: 10px;
  margin-inline: 3% !important;
  text-align: start;
}
.features-box .cta-button{
  width: 50%;
}
.bonus-box{
  border: 2px var(--cardsborder) var(--bordercolor);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 3%;
}

.green-color, .green-color-check{
  color: green;
}

.green-color-check{
  margin-left: 2%;
  margin-right: 1%;
}

#banner-bottom {

  background-image: var(--bannerbottomimage);
  background-position: right center;
  padding-left: 0;
}

.banner-content-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.accordion-button, .accordion-body{
  background-color: var(--cardscolor);
  color: var(--fontcolor);
}

.accordion-button:focus, .accordion-button:active {
  background-color: var(--cardscolor);
  box-shadow: none; 
  color: var(--fontcolor);
}

.accordion-button:not(.collapsed) {
  background-color: var(--cardscolor); 
}

.accordion-button:after {

  margin-left:0!important;
  order: -1; /*swap dropdown button with text*/
  /*Change fill hexadecimal number to change color of arrow in accordion-button*/
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button i {
  margin-right: 2%;
}